<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.kevindeyne.datascrambler.DataScramblerApplication" level="ERROR"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="ERROR"/>
    <logger name="org.jline" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>